#!/usr/bin/env bash
set -e

if [ -d "$HOME/extensions" ]; then
  firefox --headless &
  sleep 1s
  kill $!

  profiledir=$(sed -n 's/Default=//p' "$HOME/.mozilla/firefox/profiles.ini" | head -1)
  extensiondir="$HOME/.mozilla/firefox/$profiledir/extensions/"

  mv "$HOME/extensions" "$extensiondir"
fi

exec "$@"
