ENV TZ={{ settings.timezone }}
ENV LANG={{ settings.locale }}

RUN ln -snf /usr/share/zoneinfo/{{ settings.timezone }} /etc/localtime && echo {{ settings.timezone }} > /etc/timezone && \
    apt-get update && \
    apt-get install -y locales tzdata && \
    rm -rf /var/lib/apt/lists/* && \
    localedef -i {{ settings.locale.partition('.')[0] }} -c -f UTF-8 -A /usr/share/locale/locale.alias {{ settings.locale }}
