RUN mkdir /etc/pulse && \
    apt-get update && \
    apt-get install -y pulseaudio-utils && \
    rm -rf /var/lib/apt/lists/* && \
    sed -i -E -e 's/;? ?(default-server =).*/\1 unix:\/run\/user\/{{ settings.userid }}\/pulse\/native/g' \
              -e 's/;? ?(autospawn =).*/\1 no/g' \
              -e 's/;? ?(daemon-binary =).*/\1 \/bin\/true/g' \
              -e 's/;? ?(enable-shm =).*/\1 false/g' \
              /etc/pulse/client.conf
